# Ignore locally-installed dependencies.
node_modules

# ignore generated fixture data
_actual*

# ignore TypeScript build files
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts

# unignore test fixtures
!test/fixtures/**/input.js
!test/fixtures/**/expected.js
